body {
  margin: 0 auto;
  font-family: 'League Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 400px;
  color: white;
  justify-content: space-between;
  margin: 3% 0 0 5%;
  height: 25px;
  z-index: 1;
}

#deskNav{
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#deskNav a{
  cursor: pointer;
  position: relative;
}

#deskNav a:hover::after {
  content: "";
  position: absolute;
  left: 25%;
  right: 25%;
  bottom: -10px;
  border: 2px solid white;
}

#mobNav, #mobBtn{
  display: none;
}

section{
  margin: auto auto;
  display: grid;
  grid-template-columns: 3fr 3fr 1fr 3fr;
}

.img1{
  grid-column: span 2;
  width: 100%;
  height: 100%;  
}

.imgMob{
  display: none;
}

#disc{
  grid-column: span 2;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20% 15%;
}

#disc h1{
  font-size: 45px;
  margin: 0 0 2% 0;
}

#disc p, #about p{
  color: hsl(0, 0%, 63%);
  font-size: 15px;
  line-height: 20px;
}

#disc a{
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 10px;
  margin-top: 5%;
  cursor: pointer;
  transition: .3s;
}

#disc a:hover{
  color: hsl(0, 0%, 63%);
}

.img2{
  width: 100%;
  height: 100%;  
}

#about{
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  padding: 12% 10%;
}

#about h2{
  margin: 0;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 5px;
}

#arrows{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 10%;
}

#arrows button{
  width: 50%;
  height: 100%;
  border-style: none;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 25px;
  transition: .3s;
}

#arrows button:hover{
  background-color: hsl(0, 0%, 27%);
}

@media (min-width: 1440px){

} 

@media (max-width: 1279px) {
  section{
    display: flex;
    flex-direction: column;
  }

  #disc{
    padding: 10% 7%;
  }

  #disc h1{
    font-size: 100px;
  }

  #disc p{
    font-size: 35px;
    line-height: 50px;
    height: 300px;
  }

  #about p{
    font-size: 35px;
    line-height: 50px;
  }

  #disc a{
    font-size: 50px;
    letter-spacing: 40px;
  }

  #arrows{
    left: auto;
    right: 0;
    bottom: auto;
    top: -15%;
    height: 15%;
  }

  #arrows button{
    font-size: 100px;
  }

  #about{
    padding: 10% 7%;
  }

  #about h2{
    font-size: 30px;
  }

  header{
    position: fixed;
    height: 40px;
    width: 70%;
  }

  nav a {
    font-size: 25px;
  }
}

@media (max-width: 576px) {
  body{
    width: 576px;
  }

  header{
    width: 576px;
    margin: 10% 0 0 0;
    height: 50px;
    align-items: center;
    justify-content: start;
  }
  
  header img{
    height: 50%;
  }

  #deskNav{
    display: none;
  }

  #mobNav{
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 2;
    background-color: white;
    top: 0;
    left: 0;
    color: black;
    width: 100%;
    height: 150px;
  }

  #mobBtn{
    display: block;
    height: 100%;
    background-color: transparent;
    color: white;
    font-size: 35px;
    margin-left: 10%;
    margin-right: 25%;
  }

  .img1{
    display: none;
  }

  .imgMob{
    display: block;
  }

  #disc h1{
    font-size: 50px;
  }

  #disc p{
    font-size: 20px;
    line-height: 30px;
    height: 200px;
  }

  #disc a{
    font-size: 30px;
    letter-spacing: 15px;
    margin-top: 0;
  }

  #arrows{

  }

  #arrows button{
    font-size: 50px;
  }

  #about p{
    font-size: 20px;
    line-height: 30px;
  }
}